<?xml version="1.0" encoding="UTF-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.gardner.drawitlearnit" android:versionName="1.0"
	android:versionCode="6">
	<application android:icon="@drawable/icon" android:label="@string/application_name">

		<activity android:name="GestureSoundboardActivity"
			android:label="@string/application_name" android:icon="@drawable/icon">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name="GestureSoundboardListActivity"
			android:label="@string/application_name" android:icon="@drawable/icon">
		</activity>
		<activity android:name="AddGestureActivity" android:label="@string/label_create_gesture" />
		<activity android:name="FileChooser" android:label="@string/application_name"
			android:theme="@style/CustomTheme" />

		<!-- The application's publisher ID assigned by AdMob -->
		<meta-data android:value="a14d05017d666dd" android:name="ADMOB_PUBLISHER_ID" />

		<!-- AdMobActivity definition -->
		<activity android:name="com.admob.android.ads.AdMobActivity"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:configChanges="orientation|keyboard|keyboardHidden" />
		<!-- Track Market installs -->
		<receiver android:name="com.admob.android.ads.analytics.InstallReceiver"
			android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
		
		
	<meta-data android:value="true" android:name="ADMOB_ALLOW_LOCATION_FOR_ADS" />
		

	</application>
	<uses-sdk android:minSdkVersion="4"></uses-sdk>
	<uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<supports-screens android:smallScreens="true"
		android:normalScreens="true" android:largeScreens="true"
		android:anyDensity="true" />
</manifest>
